
body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #fffcf5;
  color: #111;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to right, #ff0099, #493240);
  color: white;
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 1em;
  color: yellow;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: cyan;
}

main {
  padding: 1em;
  background-color: #ffe6e6;
}

section {
  background-color: #ffff99;
  border: 2px dashed #ff66cc;
  padding: 1em;
  margin: 1em 0;
  box-shadow: 0 0 10px #ff0000;
}
